<!doctype html>

<html>
	<head>
		<title>Chatter</title>
		<style>
			body {
				background-color: #001;
				color: #DCB;
				font-family: arial;
				padding: 5px 40px;
			}

			p {
				font-size: 20px;
			}

			.user {
				color: #15f4ee;
			}

			.message {
				color: #39FF14;
			}

		</style>
	</head>

	<body>
		<h1>leave a message</h1>
		<form action="/postMessage" id="messagePoster" method="POST">
			<label for="name">your name: </label><br />
			<input type="text" id="name" name="name"><br /><br />
			<label for="message">your message: </label><br />
			<textarea id="message" name="message"></textarea><br /><br />
			<input type="submit" value="Post">
		</form>
		<h1>previous messages are below</h1>
		{% for message in messages %}
			<p><span class="user">{{message.name}}</span>: <span class="message">{{message.message}}</span></p>
		{% endfor %}
	</body>
</html>